@font-face {
	font-family: 'Gefika';
	src: url('/media/fonts/Gefika.otf') format('opentype');
}

body {
    background-color: rgb(36, 33, 33);
    font-family: 'Gefika', sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: rgb(62, 129, 230);
    color: white;
    text-align: center;
    padding: 2em 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

h1 {
    margin: 0;
}

div#actions {
    position: absolute;
    top: 2em;
    right: 2em;
    display: flex;
    gap: 0.6em;
}

.square-button {
    padding: 0.6em;
    background-color: #3a7bd5;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1.2em;
    cursor: pointer;
    transition: all 0.3s;
}

.square-button:hover {
    background-color: #2e5a9e;
}

main {
    overflow: auto;
    margin-top: 1em;
    display: flex;
    column-gap: 1em;
}

main > * {
    background: -webkit-linear-gradient(to top, #3a6073, #3a7bd5);
	background: linear-gradient(to top, #3a6073, #3a7bd5);
}

nav {
    min-width: 15em;
    border-radius: 0 1em 1em 0;
    overflow-y: auto;
}

button#add {
    background-color: rgb(43, 99, 250);
    color: white;
    border: 3px solid gray;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 38px;
    cursor: pointer;
    display: block;
    margin: 15px auto;
}

button#add:hover {
    background-color: powderblue;
    color: rgb(0, 128, 202);
    transform: translateY(1px);
    transition: all 0.2s ease;
}

nav ul {
    list-style: none;
    padding: 0 0.4em;
    margin: 0;
}

nav ul li {
    background-color: powderblue;
    color: darkblue;
    border: 2px solid gray;
    padding: 12px 18px;
    margin: 6px 0;
    border-radius: 10px;
    cursor: pointer;
}

nav ul li:hover {
    background-color: #F86C3D;
    color: rgb(0, 0, 0);
    transform: translateY(2px);
    transition: all 0.5s ease;
}

article {
    flex: auto;
    border-radius: 1em 0 0 1em;
    padding: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
    color: rgb(233, 233, 233);
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

h2 {
    margin: 0 0 1.6em;
}

#add-image
{
    font-size: 115%;
    margin-bottom: 0.3em;
}

#add-image:hover
{
    color: rgb(233, 233, 233);
    font-size: 120%;
    transition: all 0.3s;
    cursor: pointer;
}

input#image-upload
{
    display: none;
}

.editable {
    flex: auto;
    padding: 0.8em;
    font-size: 150%;
    background-color: #2b2b2b;
    border-radius: 1em;
    font-family: monospace, sans-serif;
    transition: all 0.1s;
    overflow: auto;
}

.editable:hover {
    cursor: pointer;
    background-color: #494a4b;
    transition: all 0.4s;
}

.editable:focus {
    cursor: text;
    background-color: #878d91;
    border-color: #2e2b2b;
}

/* Width of the scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

/* Background of the scrollbar track */
::-webkit-scrollbar-track {
    background: #2b2b2b;
    border-radius: 10px;
}

/* Scrollbar handle (draggable part) */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
    border: 2px solid #2b2b2b;
}

/* Scrollbar handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}