@font-face {
	font-family: 'Gefika';
	src: url('/media/fonts/Gefika.otf') format('opentype');
}

body {
    background-color: rgb(36, 33, 33);
    font-family: 'Gefika', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

header {
    background-color: rgb(62, 129, 230);
    color: white;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

main {
    width: 800px;
    background: -webkit-linear-gradient(to top, #3a6073, #3a7bd5);
	background: linear-gradient(to top, #3a6073, #3a7bd5);
    border: 3px solid darkblue;
    border-radius: 16px;
    padding: 25px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
    margin-top: 20px;
    margin-left: 20px;
}

#add {
    background-color: rgb(43, 99, 250);
    color: white;
    border: 3px solid gray;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 38px;
    cursor: pointer;
    display: block;
    margin: 15px auto;
}

#add:hover {
    background-color: powderblue;
    color: rgb(0, 128, 202);
    transform: translateY(1px);
    transition: all 0.2s ease;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 600px;
    overflow-y: auto;
}

li a {
    display: block;
    background-color: powderblue;
    color: darkblue;
    border: 2px solid gray;
    padding: 12px 18px;
    margin: 6px 0;
    border-radius: 10px;
    text-decoration: none;
}

li a:hover {
    background-color: #F86C3D;
    color: rgb(0, 0, 0);
    transform: translateY(2px);
    transition: all 0.5s ease;
}

.container {
    display: flex;
    margin-right: 20px;
}

.lessons {
    width: 700px;
}

.lesson-window {
    width: 45%;
    margin-top: 20px;
    margin-left: 50px;
    background-color: white;
    border: 3px solid darkblue;
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
    color: rgb(94, 94, 202);
    font-weight: bold;
}
