body {
    background-color: rgb(219, 232, 234);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

header {
    background-color: darkblue;
    color: white;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

main {
    width: 800px;
    background-color: white;
    border: 3px solid darkblue;
    border-radius: 16px;
    padding: 25px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
    margin-top: 20px;
    margin-left: 20px;
}

#add {
    background-color: darkblue;
    color: white;
    border: 3px solid gray;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 28px;
    cursor: pointer;
    display: block;
    margin: 15px auto;
}



ul {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 600px;
    overflow-y: auto;
}

li a {
    display: block;
    background-color: powderblue;
    color: darkblue;
    border: 2px solid gray;
    padding: 12px 18px;
    margin: 6px 0;
    border-radius: 10px;
    text-decoration: none;
}

